In [2]:
import pandas as pd

In [3]:
df=pd.read_csv("customer_service_kaggle_dataset.csv")
df.columns

Index(['tweet_id', 'author_id', 'inbound', 'created_at', 'text',
       'response_tweet_id', 'in_response_to_tweet_id'],
      dtype='object')

In [5]:
new_df=df.drop(['author_id','inbound','created_at','response_tweet_id', 'in_response_to_tweet_id'],axis=1)

In [6]:
new_df

    tweet_id                                               text
0     119237  @AppleSupport causing the reply to be disregar...
1     119238  @105835 Your business means a lot to us. Pleas...
2     119239  @76328 I really hope you all change but I'm su...
3     119240  @105836 LiveChat is online at the moment - htt...
4     119241  @VirginTrains see attached error message. I've...
..       ...                                                ...
88    119330  @105860 I wish Amazon had an option of where I...
89    119331  They reschedule my shit for tomorrow https://t...
90    119332  @105861 Hey Sara, sorry to hear of the issues ...
91    119333  @Tesco bit of both - finding the layout cumber...
92    119335  @105861 If that doesn't help please DM your fu...

[93 rows x 2 columns]

In [7]:
new_df.to_json("tweets.json")